.photosContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    float: top;
}

.photo{
    display: inline-block;
    padding: 1rem 1rem;
    min-width: 20%;
    max-width: 40%;
    border: 1px solid white;
    top: 0;
}
.photo img{
    max-width: 100%;
}
.photo span{
    display: block;
}