@import "bootstrap/scss/bootstrap";

body {
  background: url("../img/forestjpg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: black;
  //padding: 0;
  //margin: 0;
  &, div{
    padding: 0;
    margin: 0;
  }
  div {
      display: inline-block;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}}

.content{
  //width: 100%;
  background: #fff;
  padding-top: 5rem;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  ul li{
    padding: 1rem
  }

  text-align: center;
  background: #333;
  color: #fff;
}

.logo{
  font-size: 2rem;
  display: block;
}

.img{
  height: 2rem;
}

.slider{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_img{
  height: 30rem;
  overflow: hidden;
  width: 50%
}

.slider_img img{
  height: 100%;
  width: 100%;
}

.slider .arrow{
  color: white;
  font-size: 10rem;
  margin: 5rem;
  cursor: pointer;
  user-select: none;
}